.contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
   
}
.box1, .box2, .box3{

    width: 100%;
    height: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.titulo{
    text-align: right;
}